.sb-paragraph {
   font-family: "Courier New", Courier, monospace;
   font-weight: 300;
}

.sb-paragraph--primary {
   color: green;
}

.sb-paragraph--secondary {
   color: gray;
}

.sb-paragraph--small {
   font-size: 12px;
   color: blue;
}

.sb-paragraph--medium {
   font-size: 14px;
   color: orange;
}

.sb-paragraph--large {
   font-size: 16px;
   color: purple;
}
